<h4>Formulaire <small>template</small></h4>
<hr>
<form (ngSubmit)="envoyer(formulaire)" #formulaire="ngForm" novalidate="">
  <div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Prenom</label>

      <div class="col-8">
        <input class="form-control"
               type="text"
               placeholder="Prenom"
               name="prenom"
               [(ngModel)]="user.prenom"
               minlength="5"
               required
               #varPrenom="ngModel">

        <div *ngIf="varPrenom.errors?.required">Ce champs est requis</div>
        <div *ngIf="varPrenom.errors?.minlength">Doit avoir min {{ varPrenom.errors.minlength.requiredLength }} caractere</div>
      </div>

    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Nom</label>
      <div class="col-8">
        <input class="form-control"
               type="text"
               placeholder="Nom"
               name="Nom"
               [(ngModel)]="user.nom"
               required
               #varNom="ngModel">
        <div *ngIf="varNom.errors?.required">Ce champs est requis</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Email</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Email"
             name="Email"
             [(ngModel)]="user.email"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #varEmail="ngModel">

      <div *ngIf="varEmail.errors?.required">Ce champs est requis</div>
      <div *ngIf="varEmail.errors?.pattern">Ce champs n'a pas le format requis</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Save
      </button>
    </div>
  </div>

</form>
